<!-- CUERPO DEL PROYECTO -->
<main>
  <!-- HTML Form (wrapped in a .bootstrap-iso div) -->
  <div class="bootstrap-iso">
    <div class="container-fluid">
      <h3 class="cita">Modifica tu cita</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          {{#each errors}}
          <div class="alert alert-danger" style="color:red" role="alert">
            {{msg}}
          </div>
          {{/each}}
          <form method="post" action="/citas/modificarcitaform">
            <div class="form-group ">
              <label class="control-label " for="name"> Nombre:</label>
              <input class="form-control" id="name" name="name" type="text" value="{{cita.name}}" disabled {{!-- autocomplete="off" --}} {{!-- required
                --}} />
            </div>
            <div class="form-group ">
              <label class="control-label requiredField" for="email">Email: <span class="asteriskField">
                  *</span></label>
              <input class="form-control" id="email" name="email" type="email" value="{{cita.email}}" disabled{{!-- autocomplete="off" --}}{{!--
                required --}} />
            </div>
            <div class="form-group ">
              <label class="control-label " for="tel">Telefono:</label>
              <input class="form-control" id="tel" name="tel" type="phone" value="{{cita.tel}}" disabled{{!-- autocomplete="off" --}} {{!-- required
                --}} />
            </div>
            <div class="form-group ">
              <label class="control-label" for="date">Fecha:</label>
              <input class="form-control" id="date_cita" name="date_cita" placeholder="yyyy-mm-dd" type="texto"
                autocomplete="off" value="{{cita.date_cita}}"/>
              <input class="btn btn-dark" style="color:white;" value="Consultar horario" id="consultar"/>
            </div>

            <div class="form-group">
              <label class="control-label" for="hour">Hora:</label>
              {{!-- <input class="form-select" " id=" hour_cita" name="hour_cita" placeholder="hh:mm" type="hora"
                autocomplete="off"> --}}
              <select class="" aria-label="Large" name="hour_cita" id="hour_cita" placeholder="hh:mm"
                style="display:block; width:100%; height: 30%" ; required>

                <option value="{{cita.hour_cita}}">{{cita.hour_cita}}</option>
                {{!-- <option value="9:00">09:00</option>
                <option value="10:00">10:00</option>
                <option value="11:00">11:00</option>
                <option value="12:00">12:00</option>
                <option value="13:00">13:00</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
                <option value="18:00">18:00</option>
                <option value="19:00">19:00</option> --}}
              </select>
            </div>
            <div class="form-group">
              <div>
                <button class="btn btn-dark " name="submit" type="submit" value="Ecriptar mensaje">Modificar
                  cita</button>
              </div>
            </div>

          </form>
          <p><span class="asteriskField">
              * Campo obligatorio
            </span>
          </p>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12" style="text-align: center;">
          <img src="./images/new.png" alt="haircut" class="img-fluid" style="margin-top:-40px">
          {{!-- <img src="./images/haircut2.jpg" alt="haircut2" class="img-fluid; img-thumbnail" style="width: 60%;
margin-top: -10%;"> --}}
        </div>
      </div>
    </div>
  </div>
</main>

<!-- IMPLEMENTACIÓN DE FLATPICKR -->
<!-- https://flatpickr.js.org/instance-methods-properties-elements/ -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<script>
    const myInput = document.querySelector("#date_cita");
    const fp = flatpickr(myInput, {inline:true});  // flatpickr   
</script>
